<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TripNest</title>
  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
    crossorigin="anonymous"
  />

  <!-- Fonts & Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
    rel="stylesheet"
  />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="/css/rating.css"/>

  <link href="https://api.mapbox.com/mapbox-gl-js/v3.18.1/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.18.1/mapbox-gl.js"></script>
</head>

<body>
  <script>
    console.log("Layout loaded: boilerplate.ejs");
  </script>

  <%- include('../includes/navbar.ejs') %>
  <script>
    if(!document.querySelector("nav")){
      console.log("Navbar failed to render");
    } else {
      console.log("Navbar rendered successfully");
    }
  </script>

  <div class="container">
    <%- include('../includes/flash.ejs') %>
    <script>
      const flashBox = document.querySelector(".alert");
      console.log("Flash message present:", !!flashBox);
    </script>
    <%- body %>
  </div>

  <%- include('../includes/footer.ejs') %>

  <!-- Bootstrap JS -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous">
  </script>
  <!-- Common JS -->
  <script src="/js/script.js"></script>

</body>
  <script>
    window.onerror = function(message, source, lineno, colno, error){
      console.log("Global Error:", {message, source, lineno, colno, error});
    };

    window.addEventListener("unhandledrejection", function(event){
      console.log("Unhandled Promise Rejection:", event.reason);
    });

    if(typeof mapboxgl === "undefined"){
      console.log("Mapbox failed to load");
    } else {
      console.log("Mapbox loaded");
    }

    if(typeof bootstrap === "undefined"){
      console.log("Bootstrap JS not detected");
    } else {
      console.log("Bootstrap JS loaded");
    }
  </script>
</html>